h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.LayoutContainer {
    padding: 10px;
    margin: 2px;
    background-color: #F0F0F0;
    border: 1px solid black
}

.InputField {
    background-color: wheat;
    font: 13px Tahoma, cursive;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.KeywordsButton {
    margin: 2px
}

.DescriptionsButton {
    margin: 2px
}

.SummaryParagraph {
    margin: 2px
}

.SummaryLabel {
    background-color: burlywood;
    font: 13px Tahoma, cursive;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 2px
}

.Selector {
    background-color: thistle;
    width: 100%
}

#pdf_area {
    float: left;
    left: 0%;
    top: 0%;
    height: 95%;
    width: 65%
}

#pdf_iframe {
    width: 100%;
    height: 100%;
}

#control_panel {
    float: left;
    top: 0%;
    height: 95%;
    width: 30%
}

#buffer_area {
    height: 10%;
}

#paper_area {
    height: 10%;
}

#current_area {
    height: 70%
}

#current_descriptions {
    height: 200px
}